.card_list{
  position: relative;
  margin: 2em;
  column-count: 3;
  column-gap: 20px;
}
@media(max-width: 770px) {
    .card_list {
      column-count: 2;
    }
}
@media(max-width: 500px) {
    .card_list {
      column-count: 1;
    }
}