.category_wrap{
  margin-top: 30px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.category_text{
  font-size: 1.2rem;
  color: hsla(0,0%,100%,.7);
}
.links_flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.category_link{
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  overflow: hidden;
  margin: 5px;
}
.category_link:hover{
  color: hsla(0,0%,100%,.7);
  cursor: pointer;
  transition: filter .25s ease;
}
@media (max-width: 500px) {
  .category_link, .category_text {
    font-size: .9rem;
  }
}
