.card_wrap{
  margin: 0;
  margin-bottom: 10px;
  position: relative;
}
img{
  width: 100%;
  display: block;
}
.card_bar{
  display: none;
  padding-left: 10px;
  padding-bottom: 10px;
}
.card_wrap:hover:after {
  content: '';
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(84,74,74,0.8410714627647934) 10%, rgba(112,100,100,0.08) 81%);
  z-index: 1;
}
.card_wrap:hover .card_bar{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.download_btn, .like_btn{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  margin-right: 10px;
}
.download_btn{
  margin-left: 10px;
}
.like_svg:hover > .rect{
  fill: #AAA;
}
.download_svg:hover > .rect{
  fill: #AAA;
}