.main_container{
  font-family: 'Plus Jakarta Sans', sans-serif;
  width: 100vw;
  min-height: 500px;
  overflow: hidden;
  position: relative;
}
.search_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search_wrapper > div{
  margin-top: 30px;
}
.main_title{
  text-align: center;
  max-width: 50vw;
  color: #fff;
  margin-top: 80px;
}
.author_link{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
@media(max-width: 770px) {
  .main_title {
    font-size: 1.3rem;
  }
}
@media(max-width: 650px) {
  .author_link {
    left: 75vw;
  }
}
@media(max-width: 500px) {
  .author_link{
    font-size: 12px;
    max-width: 30vw;
    left: 60vw;
  }
}