.container{
  font-family: 'Plus Jakarta Sans', sans-serif;
  position: relative;
}
.categories_header{
  position: fixed;
  top: 0;
  background-color: #232a34;
}
.categories_header > div{
  display: flex !important;
  color: #C4C4C4;
}
.categories_header > .search_bar{
  padding-bottom: 20px;
}
.filters_nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 20vh;
}
@media(max-width: 600px){
  .filters_nav {
    flex-direction: column;
    margin-bottom: 15px;
  }
}
