.author_link{
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}
@media (max-width: 770px) {
  .author_link {
    font-size: 1.15rem;
  }
}
@media(max-width: 650px) {
  .author_link {
    font-size: 1rem;
  }
}